* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: white;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'blockheadunplugged';
    src: url('fonts/blockhead_unplugged_regular-webfont.woff2') format('woff2'),
        url('fonts/blockhead_unplugged_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'blockheadunplugged';
    font-size: 3vw;
    text-align: center;
    margin: 0.1vw 0;
}

h2 {
    font-family: 'blockheadunplugged';
    font-size: 2vw;
    margin: 0.1vw 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    line-height: 2vw;
}



section {
    width: 100vw;
    height: 100%;
}

/* HEADER */
header {
    margin: 0;
    padding: 0;

}


header nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav img {
    width: 40vw;
    margin: 1vw 0;
    padding: 0;
}

header nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 0;
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 1.2vw;
    padding: 0 2vw;

    cursor: pointer;

}


header nav ul li a:hover {
    color: #D92534;
}


/* START */

#start {
    background-color: black;
}

#start .container_start {
    display: inline;
}

#start .container_start .big_bird {
    background-image: url(pics/bigbirb.svg);
    width: 30vw;
    height: 23.68vw;
    background-size: cover;
    display: inline-block;

    margin: 1.5vw;
}

#start .container_start .small_bird {
    background-image: url(pics/lilbirb.svg);
    width: 15vw;
    height: 15.56vw;
    background-size: cover;
    display: inline-block;
    position: absolute;

    margin: 10vw 11vw 0;

}

#start .start_txt {
    width: 33vw;
    margin: 0 auto;
    padding: 2vw 4vw;

    background-color: white;

    display: inline-block;

}

#start h1 {
    color: #D92534;
    margin-top: 6vw;
}

#start p {
    margin-bottom: 4vw;
}

/* MENU */

#menu {
    margin-top: 3vw;
}

#menu .menu_buttons {

    text-align: center;
    margin: 0;
    padding: 0;

}

#menu ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: inline;


}

#menu ul li {
    text-decoration: none;
    color: black;
    font-family: 'blockheadunplugged';
    display: inline-block;
    font-size: 1.5vw;
    padding: 0 2vw;
    margin: 1vw;

    border: solid black 0.1vw;

    cursor: pointer;


}

#menu ul li:hover {
    border: solid #D92534 0.1vw;
    background-color: #D92534;
    color: white;
}


.active{
    border: solid #D92534 0.1vw !important;
    background-color: #D92534 !important;
    color: white !important;
    /* Usually you shouldnt use !important as its very unpredictable and can fuck things up, but im desperate here*/
}

.data_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));

    margin: auto;
    padding: 0 10vw;

}

.whole_menu{
    margin: 1vw;
    width: 18vw;
    height: 35vw;

    box-shadow: 0.4vw 0.4vw 2vw #D9D4D0;

}

.whole_menu .dish_img{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.menu_txt{
    padding: 0 1vw;
}

.price {
    font-family: 'blockheadunplugged';
    font-size: 2vw;
    text-align: end;
    margin: 0;
    padding: 0;

    color: #D92534;

}

.type_menu{

    text-transform: capitalize;
    color: #D92534;

    font-size: 5vw;
}

.single {
    width: 100vw;
    height: 100vh;
    /*position: fixed;*/
    background-color: rgba(255,255,255,0.7);
    /*top: 0;
    left: 0;

    display: none; */
}

.single .single_box{
    width: 40vw;
    height: 40vw;
    margin: 2vw auto;

    background-color: white;
    box-shadow: 0.4vw 0.4vw 2vw #D9D4D0;
}

.single .exit {
    width: 5vw;
    height: 5vw;

    position: fixed;
    top: 2vw;
    right: 3vw;

    background-image: url(pics/exit.svg);
    background-size: cover;
}

.single .dish_img{
    width: 40vw;
    height: 25vw;

    object-fit: cover;

    background-color: #D92534;
    /*position: fixed;
    top: 2vw;
    left: 30vw;*/
}

.single .long_txt{
    /*position: fixed;
    top: 25vw;
    left: 30vw;*/

    width: 40vw;
    height: 100%;

    padding: 2vw;
}




